table{
  width:100%;
}

td,th{
  padding: 12px 0px;
  font-size: 14px;
  border: 1px solid #fff;
  text-align: center;
  width:15%;
  word-break: break-word;
}
tr{
  td{
    ion-text{
      font-size: 17px;
      font-weight: 500;
      margin: 0 7px;
    }
  }
}
ion-text{
  text-align: center;
  h4,p{
    margin: 17px;
  }
}
ion-card{
  height: 100%;
  padding: 5px;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
