
ion-content {
  --background: url('/assets/Image/loginBackGroundImg.png') no-repeat center center/cover;
  ion-grid {
      transform: translateY(10vh);
      ion-label, p {
          font-size: 15px;
          font-weight: bold;
          color:var(--ion-color-light);
      }
  }
}
